@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .card{
          width: 492px;
      }
}
@media screen 
  and (min-device-width: 480px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .card{
        width: 492px;
      }
}
@media screen 
  and (min-device-width: 769px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      .card{
        width: 720px;
      }
}