<button type="button" class="btn btn-outline-danger" [routerLink]="['/dashboard']"><i class="fa fa-arrow-left ">Back</i> </button>
<br>
<br>

<div class ="card" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 / 75%);">
<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>A/C No</th>
            <th>Mobile Number</th>
            <th>Pay</th>
            <th>Status</th>
        </tr>
    </thead>
    <tr *ngFor="let item of items" class="tr1">
        <td>
            {{ (item.start_date  != undefined ? item.start_date :'0') | date :'dd/MM/yyyy'}}
        </td>
        
        <td>
            {{ item.name != undefined ? item.name :'--' }}
        </td>
        <td>{{ item.account_number != undefined ? item.account_number :'--'  }}</td>
        <td>{{ item.mobile_number != undefined ? item.mobile_number :'0'}}</td>
        <td>
            <span routerLink="/sendmoney/{{item.account_number}}">
                <i class="fa fa-money" style="color:#3f51b5"></i
            ></span>
        </td>
        <td>
            <span><i class="fa fa-trash-o" style="color:#ff4081"></i></span>
        </td>
</table>
</div>
