<div class="row bootstrap snippets bootdey">
    <div class="col-md-12">
        <div class="row">
           
            <div class="col-xl-3 col-lg-3" [routerLink]="['/transctions']">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Transctions</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0"></h2>
                            </div>
                            <div class="col-4 text-right">
                                <span> <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div
                            class="progress mt-1"
                            data-height="8"
                            style="height: 8px"
                        >
                            <div
                                class="progress-bar l-bg-green"
                                role="progressbar"
                                data-width="25%"
                                aria-valuenow="25"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 25%"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
         <div class="col-xl-3 col-lg-3" [routerLink]="['/addpayee']">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Add Payee</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0"></h2>
                            </div>
                            <div class="col-4 text-right">
                                <span> <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div
                            class="progress mt-1"
                            data-height="8"
                            style="height: 8px"
                        >
                            <div
                                class="progress-bar l-bg-cyan"
                                role="progressbar"
                                data-width="25%"
                                aria-valuenow="25"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 25%"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3" [routerLink]="['/allpayees']">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">All Payees</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0"></h2>
                            </div>
                            <div class="col-4 text-right">
                                <span> <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div
                            class="progress mt-2"
                            data-height="8"
                            style="height: 8px"
                        >
                            <div
                                class="progress-bar l-bg-cyan"
                                role="progressbar"
                                data-width="25%"
                                aria-valuenow="25"
                                aria-valuemin="0"
                                aria-valuemax="200"
                                style="width: 25%"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3" [routerLink]="['/offers']">
                <div class=" card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Offers</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0"></h2>
                            </div>
                            <div class="col-4 text-right">
                                <span> <i class="fa fa-arrow-up"></i></span>
                            </div>
                        </div>
                        <div
                            class="progress mt-1"
                            data-height="8"
                            style="height: 8px"
                        >
                            <div
                                class="progress-bar l-bg-cyan"
                                role="progressbar"
                                data-width="25%"
                                aria-valuenow="25"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 25%"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 / 75%);">
                    <a href="#">
                        <img  class="images" src="assets/photos/{{userdata.account_number}}.png" />
                    </a>
                    <h1>
                        {{ userdata.name != undefined ? userdata.name : "--" }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 /0.75 );">
                        <div class="panel-body">
                            <div class="bio-chart"></div>
                            <div class="bio-desk">
                                <h4 class="red">Profile Details</h4>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>First Name </span>:
                                    {{
                                        userdata.name != undefined
                                            ? userdata.name
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>Email </span>:
                                    {{
                                        userdata.email != undefined
                                            ? userdata.email
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>Mobile </span>:
                                    {{
                                        userdata.mobile != undefined
                                            ? userdata.mobile
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>Status </span>:
                                    {{
                                        userdata.status != undefined
                                            ? userdata.status
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>Customer Id </span>:
                                    {{
                                        userdata.customerid != undefined
                                            ? userdata.customerid
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="pd">
                                    <span>Balance </span>:
                                    {{
                                        (userdata.amount != undefined  ? userdata.amount  : 0) | currency:'INR'
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 /0.75 );">
                        <div class="panel-body">
                            <div class="bio-chart"></div>
                            <div class="bio-desk">
                                <h4 class="terques">Account Details</h4>
                                <p style="width: 365px; word-break: break-all;" class="ad">
                                    <span>A/C No </span>:
                                    {{
                                        userdata.account_number != undefined
                                            ? userdata.account_number
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="ad">
                                    <span>Branch</span>:{{
                                        userdata.branch != undefined
                                            ? userdata.branch
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="ad">
                                    <span>IFSC Code </span>:
                                    {{
                                        userdata.ifsccode != undefined
                                            ? userdata.ifsccode
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="ad">
                                    <span>Account Type </span>:
                                    {{
                                        userdata.account_type != undefined
                                            ? userdata.account_type
                                            : "--"
                                    }}
                                </p>
                                <p style="width: 365px; word-break: break-all;" class="ad">
                                    <span>Opening Date </span>:
                                    {{
                                        (userdata.start_date != undefined
                                            ? userdata.start_date
                                            : "--") | date :'dd/MM/yyyy'
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 /0.75 );">
                            <div class="panel-body">
                                <div class="bio-chart"></div>
                                <div class="bio-desk">
                                    <h4 class="red">Address</h4>
                                    <p style="width: 365px; word-break: break-all;" class="addrs">
                                        {{
                                            userdata.holder_address != undefined
                                                ? userdata.holder_address
                                                : "--"
                                        }}
                                    </p>
                                    <h4 class="red">City</h4>
                                    <p style="width: 365px; word-break: break-all;" class="addrs">
                                        {{
                                            userdata.holder_city != undefined
                                                ? userdata.holder_city
                                                : "--"
                                        }}
                                    </p>
                                    <h4 class="red">State</h4>
                                    <p style="width: 365px; word-break: break-all;" class="addrs">
                                        {{
                                            userdata.holder_state != undefined
                                                ? userdata.holder_state
                                                : "--"
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 /0.75 );">
                            <div class="panel-body">
                                <div class="bio-chart"></div>
                                <div class="bio-desk">
                                    <h4 class="terques">Bank Address</h4>
                                    <p style="width: 365px; word-break: break-all;" class="ba">
                                        {{
                                            userdata.bank_address != undefined
                                                ? userdata.bank_address
                                                : "--"
                                        }}
                                    </p>
                                    <h4 class="terques">City</h4>
                                    <p style="width: 365px; word-break: break-all;" class="ba">
                                        {{
                                            userdata.city != undefined
                                                ? userdata.city
                                                : "--"
                                        }}
                                    </p>
                                    <h4 class="terques">State</h4>
                                    <p style="width: 365px; word-break: break-all;" class="ba">
                                        {{
                                            userdata.state != undefined
                                                ? userdata.state
                                                : "--"
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
