@import '~@angular/material/theming';

:host ::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: right;
}

.icon-lg {
    width:50px;
}

.mat-card {
    color: orangered;
    padding: 12px 13px 0px 28px;
    border-radius: 12px;
    .mat-card-header {
        width: 100%;
    }
    .mat-card-title {
        font-size: 40px !important;
        color: black;
    }
    .mat-card-subtitle {
        color: #fff;
        color: black;
        padding: 22px 0px 0 0px;
    }

    .mat-card-actions {
        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }
    ;
}

.mat-card.danger {
    background: linear-gradient(60deg, #ec407a, #d81b60);
}

.mat-card.blue {
    background: linear-gradient(60deg, #0000FF, #d81b60);
}
.mat-card.purple {
    background: linear-gradient(60deg, #800080, #d81b60);
}
.mat-card.yellow {
    background: linear-gradient(60deg, rgb(250, 250, 56), #e0407b);
}
.mat-card.silver {
    background: linear-gradient(60deg, #C0C0C0, #d81b60);
}
.mat-card.warn {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.mat-card.success {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.mat-card.info {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}
