<div id="sidebar" class="sidebar-menu" class="nested-menu">
    <mat-nav-list>
        <a
            mat-list-item
            [routerLinkActive]="'active'"
            [routerLink]="['/dashboard']"
            (click)="addExpandClass('')"
        >
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="32px" height="32px" viewBox="0 0 460.298 460.297" fill="#3f51B5"
        xml:space="preserve">
   <g>
       <g>
           <path d="M230.149,120.939L65.986,256.274c0,0.191-0.048,0.472-0.144,0.855c-0.094,0.38-0.144,0.656-0.144,0.852v137.041
               c0,4.948,1.809,9.236,5.426,12.847c3.616,3.613,7.898,5.431,12.847,5.431h109.63V303.664h73.097v109.64h109.629
               c4.948,0,9.236-1.814,12.847-5.435c3.617-3.607,5.432-7.898,5.432-12.847V257.981c0-0.76-0.104-1.334-0.288-1.707L230.149,120.939
               z"/>
           <path d="M457.122,225.438L394.6,173.476V56.989c0-2.663-0.856-4.853-2.574-6.567c-1.704-1.712-3.894-2.568-6.563-2.568h-54.816
               c-2.666,0-4.855,0.856-6.57,2.568c-1.711,1.714-2.566,3.905-2.566,6.567v55.673l-69.662-58.245
               c-6.084-4.949-13.318-7.423-21.694-7.423c-8.375,0-15.608,2.474-21.698,7.423L3.172,225.438c-1.903,1.52-2.946,3.566-3.14,6.136
               c-0.193,2.568,0.472,4.811,1.997,6.713l17.701,21.128c1.525,1.712,3.521,2.759,5.996,3.142c2.285,0.192,4.57-0.476,6.855-1.998
               L230.149,95.817l197.57,164.741c1.526,1.328,3.521,1.991,5.996,1.991h0.858c2.471-0.376,4.463-1.43,5.996-3.138l17.703-21.125
               c1.522-1.906,2.189-4.145,1.991-6.716C460.068,229.007,459.021,226.961,457.122,225.438z"/>
       </g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   <g>
   </g>
   </svg>
   
            &nbsp; {{ "Dashboard" | translate }}
        </a>
        <a
        mat-list-item
        [routerLinkActive]="'active'"
        [routerLink]="['/transctions']"
        (click)="addExpandClass('')"
    >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:#bee9fe;}.cls-2{fill:#3f51B5;}</style></defs><title>Currency, dolar, euro, exchange, finance</title><g id="Layer_1" data-name="Layer 1"><circle class="cls-1" cx="8.5" cy="8.5" r="5.5"/><circle class="cls-1" cx="23.5" cy="23.5" r="5.5"/></g><g id="Layer_6" data-name="Layer 6"><path class="cls-2" d="M25.7,26.52a3.54,3.54,0,0,1-1.6.39,3.13,3.13,0,0,1-2.52-1.18A2.83,2.83,0,0,1,21,24.39h-.67v-.73h.56v-.17c0-.11,0-.21,0-.31h-.57v-.73H21A3.25,3.25,0,0,1,21.74,21,3.1,3.1,0,0,1,24.12,20a4,4,0,0,1,1.54.3l-.29,1.18a3.11,3.11,0,0,0-1.14-.25,1.58,1.58,0,0,0-1.27.56,1.83,1.83,0,0,0-.33.67H25.2v.73H22.48c0,.1,0,.21,0,.32v.16H25.2v.73H22.61a1.61,1.61,0,0,0,.34.72,1.71,1.71,0,0,0,1.33.53,2.81,2.81,0,0,0,1.18-.27Z"/></g><g id="Layer_7" data-name="Layer 7"><path class="cls-2" d="M8.5,15A6.5,6.5,0,1,1,15,8.5,6.51,6.51,0,0,1,8.5,15Zm0-11A4.5,4.5,0,1,0,13,8.5,4.51,4.51,0,0,0,8.5,4Z"/><path class="cls-2" d="M23.5,30A6.5,6.5,0,1,1,30,23.5,6.51,6.51,0,0,1,23.5,30Zm0-11A4.5,4.5,0,1,0,28,23.5,4.51,4.51,0,0,0,23.5,19Z"/><path class="cls-2" d="M24,16a.84.84,0,0,1-.38-.08A1,1,0,0,1,23,15V9H17a1,1,0,0,1,0-2h7a1,1,0,0,1,1,1v4.59l.29-.3a1,1,0,0,1,1.42,1.42l-2,2A1,1,0,0,1,24,16Z"/><path class="cls-2" d="M15,25H8a1,1,0,0,1-1-1V19.41l-.29.3a1,1,0,0,1-1.42-1.42l2-2a1,1,0,0,1,1.09-.21A1,1,0,0,1,9,17v6h6a1,1,0,0,1,0,2Z"/><path class="cls-2" d="M9.2,7.83c-.39-.15-.83-.34-.83-.48s.29-.22.46-.22a2.36,2.36,0,0,1,1,.24l.33.14.36-1.42L10.38,6a3.11,3.11,0,0,0-1.07-.28V5H8v.84A1.74,1.74,0,0,0,6.59,7.49c0,1.06.89,1.49,1.67,1.75s.71.41.71.49c0,.25-.46.27-.55.27a2.65,2.65,0,0,1-1.26-.34l-.28-.15L6.5,11l.17.1A3.51,3.51,0,0,0,8,11.44v.81H9.27v-.9a1.79,1.79,0,0,0,1.48-1.74C10.75,8.74,10.29,8.21,9.2,7.83Z"/></g>
        </svg>
        
        &nbsp; {{ "Transctions" | translate }}
    </a>
        <a
            mat-list-item
            [routerLinkActive]="'active'"
            [routerLink]="['/allpayees']"
            (click)="addExpandClass('')"
        >
        <svg width="32" height="32" viewBox="0 0 64 64" fill="#3f51B5" xmlns="http://www.w3.org/2000/svg">
            <path d="M60.68 45.48C60.4589 44.9218 60.127 44.4142 59.7041 43.9879C59.2813 43.5617 58.7764 43.2256 58.22 43C57.6822 42.7723 57.1041 42.6549 56.52 42.6549C55.9359 42.6549 55.3578 42.7723 54.82 43L42.09 47.51C42.1336 47.2556 42.157 46.9981 42.16 46.74C42.16 45.6049 41.7091 44.5162 40.9064 43.7136C40.1038 42.9109 39.0151 42.46 37.88 42.46H34.58C31.6453 42.4574 28.7553 41.7401 26.16 40.37C23.2789 38.8464 20.0691 38.05 16.81 38.05H11.81V34.5C11.81 34.2348 11.7046 33.9804 11.5171 33.7929C11.3296 33.6054 11.0752 33.5 10.81 33.5H4C3.73478 33.5 3.48043 33.6054 3.29289 33.7929C3.10536 33.9804 3 34.2348 3 34.5V59C3 59.2652 3.10536 59.5196 3.29289 59.7071C3.48043 59.8946 3.73478 60 4 60H10.81C11.0752 60 11.3296 59.8946 11.5171 59.7071C11.7046 59.5196 11.81 59.2652 11.81 59V56.75C13.6051 56.8324 15.3795 57.1691 17.08 57.75L22.22 59.57C24.8546 60.4967 27.6272 60.9701 30.42 60.97H31.42C34.4138 60.8345 37.3582 60.1569 40.11 58.97L58.54 51.1C59.5302 50.5955 60.2976 49.741 60.6931 48.7024C61.0886 47.6638 61.0839 46.5153 60.68 45.48V45.48ZM9.81 58H5V35.5H9.81V58Z" fill="#3f51B5"/>
            <path d="M27.62 38.88H53.4C54.2815 38.88 55.127 38.5306 55.7512 37.9082C56.3754 37.2859 56.7274 36.4415 56.73 35.56V30.45C57.3375 30.3401 57.8872 30.0208 58.2837 29.5476C58.6801 29.0745 58.8982 28.4773 58.9 27.86V25.14C58.9002 24.5222 58.6828 23.924 58.286 23.4504C57.8892 22.9769 57.3383 22.6581 56.73 22.55V18.47C56.7274 17.5877 56.3757 16.7422 55.7518 16.1183C55.1279 15.4943 54.2824 15.1427 53.4 15.14H52.7L54 13.8C54.1863 13.6127 54.2908 13.3592 54.2908 13.095C54.2908 12.8308 54.1863 12.5774 54 12.39L46.21 4.56002C46.0227 4.37377 45.7692 4.26922 45.505 4.26922C45.2409 4.26922 44.9874 4.37377 44.8 4.56002L43.54 5.82002L38.1 3.11002C37.8646 2.99045 37.5914 2.96888 37.34 3.05002C37.2153 3.09117 37.0998 3.15651 37.0003 3.2423C36.9008 3.32809 36.8191 3.43266 36.76 3.55002L31 15.14H27.62C26.7377 15.1427 25.8922 15.4943 25.2683 16.1183C24.6444 16.7422 24.2927 17.5877 24.29 18.47V35.56C24.2927 36.4415 24.6447 37.2859 25.2689 37.9082C25.8931 38.5306 26.7386 38.88 27.62 38.88V38.88ZM56.9 25.14V27.86C56.9 28.0298 56.8326 28.1925 56.7126 28.3126C56.5926 28.4326 56.4298 28.5 56.26 28.5H50.61C50.5543 28.5 50.5009 28.4779 50.4615 28.4385C50.4222 28.3991 50.4 28.3457 50.4 28.29V24.71C50.4 24.6543 50.4222 24.6009 50.4615 24.5615C50.5009 24.5221 50.5543 24.5 50.61 24.5H56.26C56.4298 24.5 56.5926 24.5674 56.7126 24.6875C56.8326 24.8075 56.9 24.9703 56.9 25.14ZM45.51 6.68002L51.92 13.09L49.87 15.14H37L45.51 6.68002ZM38.1 5.34002L42.05 7.34002L34.21 15.17H33.21L38.1 5.34002Z" fill="#3f51B5"/>
            </svg>
            
            &nbsp; {{ "Allpayees" | translate }}
        </a>
        <!-- <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/reporters-info']" *ngIf="permissions.Static_Data|| is_admin">

            <img src="/assets/images/reporter.png" alt="image" style="width:25px;"> &nbsp; {{ 'Reporters Info' | translate }}
        </a>
 -->
    </mat-nav-list>
</div>
