<button type="button" class="btn btn-outline-danger" [routerLink]="['/dashboard']"><i class="fa fa-arrow-left ">Back</i>
</button>
<br>
<br>
<div class="card" style="box-shadow: 1px 2px 12px 0px rgb(219 0 17 / 75%); ">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <ng-container *ngFor="let item of items">
            <tr (click)="item.isExpand = !item.isExpand">
                <td>{{ item.send_date | date:'dd/MM/yyyy'}} </td>
                <td> {{ item.type != undefined ? item.type :'--' }}</td>
                <td>{{ (item.amount != undefined ? item.amount :'0') | currency:'INR' }}</td>
                <td>{{ (item.balance_amount != undefined ? item.balance_amount :'0') | currency:'INR' }}</td>
            </tr>
            <tr *ngIf="item.isExpand">
                <td></td>
                <td>
                    <p fxFlex><b>ReferanceNo:</b>{{item.remark}}</p>
                    <p fxFlex><b>UTR:</b>{{item.transcation_id}}</p>
            </td>
                <td></td>
                <td></td>
            </tr>
        </ng-container>
    </table>
</div>