<button type="button" class="btn btn-outline-danger" [routerLink]="['/dashboard']"><i class="fa fa-arrow-left ">Back</i> </button>
<br>
<br>
<div class="registration-form">
    <form #NormalForm="ngForm" (submit)="saveData()">
        <h1 class="bio-row">Add Payee</h1>
        <div class="row">
            <input
                class="form-group"
                matInput
                placeholder="name"
                type="text"
                [(ngModel)]="sender.name"
                name="name"
                class="form-control item"
            />

            <input
                class="form-group"
                matInput
                placeholder="email"
                type="text"
                [(ngModel)]="sender.email"
                name="email"
                class="form-control item"
            />
            <input
                class="form-group"
                matInput
                placeholder="Account Number"
                type="text"
                [(ngModel)]="sender.account_number"
                name="Account Number"
                class="form-control item"
            />
            <input
                class="form-group"
                matInput
                placeholder="Confirm Account Number"
                type="text"
                [(ngModel)]="sender.confirm_account_number"
                name="Confirm Account Number"
                class="form-control item"
            />
            <input
                class="form-group"
                matInput
                placeholder="IFSC Code"
                type="text"
                [(ngModel)]="sender.ifsccode"
                name="IFSC Code"
                class="form-control item"
            />
            <input
                class="form-group"
                matInput
                placeholder="Branch"
                type="text"
                [(ngModel)]="sender.branch"
                name="Branch"
                class="form-control item"
            />
            <input
                class="form-group"
                matInput
                placeholder="Mobile Number"
                type="text"
                [(ngModel)]="sender.mobile_number"
                name="Mobile Number"
                class="form-control item"
            />
            <button value="submit" class="btn btn-block create-account" style="width:33%;">
                Submit
            </button>
        </div>
    </form>
</div>
