<button type="button" class="btn btn-outline-danger" [routerLink]="['/dashboard']"><i class="fa fa-arrow-left ">Back</i> </button>
<br>
<br>
<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="background-image: url('https://media.fashionnetwork.com/m/e176/15cf/837e/65d2/2069/a406/a4fd/43a2/a404/a506/a506.jpg' );
                        
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Tata CLiQ </small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">Up to 10% instant discount on select products in
                                    Lifestyle, Electronics and Luxury categories</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="
                        background-image: url('https://www.hsbc.co.in/content/dam/hsbc/in/images/16-9/samsung-smart-device-series-smartphones-dcm-49580.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg');
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Samsung</small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">
                                    Exclusive discount on select Samsung Mobile phones</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="
                        background-image: url('https://www.hsbc.co.in/content/dam/hsbc/in/images/16-9/father-embrace-son-and-daughter-pwsimg-991.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg');
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Akbar Travels</small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">Save INR200 off on domestic flight booking and also get
                                    convenience fee(worth INR250) waived off on every ticket booked on Wednesdays</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="
                        background-image: url('https://www.hsbc.co.in/content/dam/hsbc/in/images/16-9/cleartrip-friday.jpg');
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Cleartrip</small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">Up to INR2,400 instant discount on domestic flights &
                                    hotels every Friday</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="
                        background-image: url('https://gos3.ibcdn.com/img-1600237090.jpg');
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Goibibo</small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">
                                    12% instant discount (up to INR1,250) on domestic flights every Tuesday</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-white card-has-bg click-col" style="
                        background-image: url('https://www.hsbc.co.in/content/dam/hsbc/in/images/credit-card/16-9/father-and-son-hugging-dcm-56527.jpg/jcr:content/renditions/cq5dam.web.590.1000.jpeg');
                    ">
                    <img class="card-img d-none"
                        src="https://th.bing.com/th/id/R.dc8c104f7ef173fab2c7a2929246d8b3?rik=38oHpZ8hSMkFkw&riu=http%3a%2f%2fcrossyfilms.com%2fwp-content%2fuploads%2f2013%2f11%2fHSBC3.jpg&ehk=tLylc41up2e9JuNqXKrbxYsOMYIYQ%2f9cgm6VN1mVHKM%3d&risl=&pid=ImgRaw"
                        alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" />
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">IndiGo</small>
                            <h4 class="card-title mt-0">
                                <a class="text-white" herf="#">
                                    5% cashback up to INR 750 on Indigo flights</a>
                            </h4>
                            <small><i class="far fa-clock"></i> October 15,
                                2023</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>